@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dce0f2;
  --foreground: #012840;
  --header: #a61b40;
  --button: #2edff2;
  --button-header: #fff;

  --dark-green-forest: #90987d;
  --medium-green-forest: #abbd9a;
  --ligth-green-forest: #ced2ba;
  --medium-beige: #8a7b70;
  --white: #fff;
  --medium-blue: #1b1bff;
  --hight-yellow: #ffea00;
  --medium-orange: #ed9600;
  --hight-red: #ff0000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1e2426;
    --foreground: #DCE0F2;
  }
} */

body {
  color: var(--medium-beige);
  background: var(--ligth-green-forest);
  font-family: monospace, Arial, Helvetica, sans-serif;
}

.button {
  color: var(--ligth-green-forest);
  background: var(--dark-green-forest);
}
