@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dce0f2;
  --foreground: #012840;
  --header: #a61b40;
  --button: #2edff2;
  --button-header: #fff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1e2426;
    --foreground: #DCE0F2;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.defaultRed {
  color: var(--button-header);
  background: var(--header);
}

.defaultBlue {
  background: #012840;
  color: #dce0f2;
  font-family: monospace;
}
