@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1efec;
  --foreground: #123458;
  height: 100%;
}

.dark {
  --background: #030303;
  --foreground: #d4c9be;
}

body {
  background: var(--background);
  color: var(--foreground);
}
